<?xml version = '1.0' encoding = 'windows-1252'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
   <display-name>OA Framework web application deployment descriptor</display-name>
   <description>web.xml file for OA Framework Applications</description>
   <context-param>
      <param-name>OA_LOGIN_USERNAME</param-name>
      <param-value>294</param-value>
   </context-param>
   <context-param>
      <param-name>OA_RESPONSIBILITY_KEY</param-name>
      <param-value>OES</param-value>
   </context-param>
   <context-param>
      <param-name>JRAD_APPS</param-name>
      <param-value>ak;fnd;dem</param-value>
   </context-param>
   <context-param>
      <param-name>OA_LOGIN_PASSWORD</param-name>
      <param-value>Thiyaga421</param-value>
   </context-param>
   <context-param>
      <param-name>OA_RESPONSIBILITY_APPS_SHORT_NAME</param-name>
      <param-value>OES</param-value>
   </context-param>
   <context-param>
      <param-name>DBC_FULL_PATH_NAME</param-name>
      <param-value>D:\JDeveloperR12.1.3\jdevbin\oaext\dbc_files\secure\VISTEST.dbc</param-value>
   </context-param>
   <context-param>
      <param-name>JRAD_XML_PATH</param-name>
      <param-value>D:\JDeveloperR12.1.3\jdevbin\jdev\myclasses\JRADXML;D:\JDeveloperR12.1.3\jdevbin\jdev\myprojects;D:\JDeveloperR12.1.3\jdevbin\jdev\oamdsxml\fwk</param-value>
   </context-param>
   <servlet>
      <servlet-name>OAAppModPoolMonitor</servlet-name>
      <display-name>Application module pool monitor</display-name>
      <description>Tool to monitor all application modules in the JVM</description>
      <servlet-class>oracle.apps.fnd.framework.webui.perf.OAAppModPoolMonitor</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>BIExport</servlet-name>
      <servlet-class>oracle.dss.thin.beans.dataView.excel.DatabaseStorageServlet</servlet-class>
      <init-param>
         <param-name>connprovider</param-name>
         <param-value>oracle.apps.fnd.framework.ExportConnectionProvider</param-value>
      </init-param>
   </servlet>
   <servlet>
      <servlet-name>OAGraphServlet</servlet-name>
      <servlet-class>oracle.apps.fnd.framework.webui.OAGraphServlet</servlet-class>
   </servlet>
<!-- OAF REST Servlet -->
   <servlet>
     <servlet-name>OARESTServlet</servlet-name>
     <servlet-class>oracle.apps.fnd.framework.webui.rest.OARESTServlet</servlet-class>
   </servlet>

   <servlet-mapping>
     <servlet-name>OARESTServlet</servlet-name>
      <url-pattern>/OAR/*</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>uix</servlet-name>
      <servlet-class>oracle.cabo.servlet.UIXServlet</servlet-class>
      <init-param>
         <param-name>oracle.cabo.servlet.pageBroker</param-name>
         <param-value>oracle.cabo.servlet.xml.UIXPageBroker</param-value>
      </init-param>
      <init-param>
         <param-name>oracle.cabo.ui.UIExtensions</param-name>
         <param-value>oracle.cabo.data.jbo.ui.JboUIExtension</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet>
   <servlet-mapping>
      <servlet-name>uix</servlet-name>
      <url-pattern>*.uix</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>uix</servlet-name>
      <url-pattern>/uix/*</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>OAGraphServlet</servlet-name>
      <url-pattern>/oags</url-pattern>
   </servlet-mapping>
   <session-config>
      <session-timeout>30</session-timeout>
   </session-config>
   <mime-mapping>
      <extension>html</extension>
      <mime-type>text/html</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>txt</extension>
      <mime-type>text/plain</mime-type>
   </mime-mapping>
   <mime-mapping>
      <extension>css</extension>
      <mime-type>text/css</mime-type>
   </mime-mapping>
   <welcome-file-list>
      <welcome-file>test.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
   </welcome-file-list>
   <taglib>
      <taglib-uri>/webapp/DataTags.tld</taglib-uri>
      <taglib-location>/WEB-INF/lib/datatags.jar</taglib-location>
   </taglib>
   <taglib>
      <taglib-uri>http://xmlns.oracle.com/oa</taglib-uri>
      <taglib-location>/WEB-INF/oa.tld</taglib-location>
   </taglib>
</web-app>
